<h1>Atividades</h1>

<button mat-raised-button color="primary" class="botao-cadastrar" (click)="cadastrar()">Cadastrar Atividade</button>

<hr>
  <mat-card>
    <mat-form-field>
      <input matInput type="text" name="usuario" #usuario placeholder="Buscar por Usuário">
  </mat-form-field>
  <button (click)="buscarPorUsuario(usuario.value)" mat-button color="primary"> Buscar </button>
  <button (click) ="limparFiltros()" mat-button color="accent"> Limpar </button>
  </mat-card>
  <br>

<table mat-table [dataSource]="listaAtividades" class="mat-elevation-z8" *ngIf="listaAtividades.length > 0">

  <!-- Position Column -->
  <ng-container matColumnDef="usuario">
    <th mat-header-cell *matHeaderCellDef> Usuário </th>
    <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
  </ng-container>

  <ng-container matColumnDef="data-inicio">
      <th mat-header-cell *matHeaderCellDef> Data de Inicio </th>
      <td mat-cell *matCellDef="let element"> {{element.dataHoraInicio | date:"dd/MM/yyyy"}} </td>
  </ng-container>

  <ng-container matColumnDef="hora-inicio">
    <th mat-header-cell *matHeaderCellDef> Horário de Inicio </th>
    <td mat-cell *matCellDef="let element"> {{element.dataHoraInicio | date:"HH:mm"}} </td>
  </ng-container>

  <ng-container matColumnDef="hora-termino">
    <th mat-header-cell *matHeaderCellDef> Horário de Término </th>
    <td mat-cell *matCellDef="let element"> {{element.dataHoraTermino | date:"HH:mm"}} </td>
  </ng-container>

  <ng-container matColumnDef="descricao">
    <th mat-header-cell *matHeaderCellDef> Descrição </th>
    <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
  </ng-container>

  <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef class="centraliza"> Ações </th>
      <td mat-cell *matCellDef="let element">
        <!-- <button mat-button color="primary" (click)="editar(element._id)">Editar</button> -->
        <button mat-button color="warn" (click)="apagar(element._id)">Apagar</button>
      </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
