<h1> Gráfico de Usuários por Faixa de Idade</h1>
<hr>
<button
mat-raised-button
color= "primary"
type="alert"
routerLink="/visao-geral"
class="botao-voltar">
Voltar
</button>

<hr>
<div class="conteudo-grafico">
    <div style="display: block">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType">
      </canvas>
    </div>
</div>
